<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<div class="fullarea">
    <div class="row">
    <div class="col-md-5">
        <form action="" method="POST" class="form-horizontal">

        {% csrf_token %}
        <p><label>Equipment:</label>
            <input type="text" value="{{equipment.first.name}}" readonly>
            <input type="hidden" name="equipment" value="{{equipment.first.id}}">
        </p>
        <p><label>Taken by:</label>

            <input type="text" value="{{ user.first.username}}" readonly>
            <input type="hidden" value="{{ user.first.pk}}" readonly name="taken_by">

        </p>
        <p><label for="id_purpose">Purpose:</label>
            <input name="purpose" id="id_purpose" required="" maxlength="300" type="text">
        </p>
        <p><label for="id_temp_location">Temp location:</label>
            <input name="temp_location" id="id_temp_location" required="" maxlength="300" type="text">
        </p>
        <p><label>Date taken:</label>
            <div class="input-group date" id="datetimepicker1" style="width: 70%;">
                <input type="text" name="start" class="form-control" />	<span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
            </div>
        </p>
            <p><label>Return:</label>
            <div class="input-group date" id="datetimepicker2" style="width: 70%;">
                <input type="text" name="end" class="form-control" />	<span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
            </div>
        </p>

        <button type="submit" class="btn btn-default">Make Reservation</button>
    </form>
        <br />
        <br />

    </div>
    <div class="col-md-7">
        <div id='calendar'></div>

<!--{{fullbooking}}-->
        <br>

    </div>
        </div>
    <div class="clear-fix"></div>
</div>
<br>
<script>
    $(document).ready(function() {

    // page is now ready, initialize the calendar...
var onejson = "{'start': '2017-06-07'}";
console.log(onejson);
    $('#calendar').fullCalendar({
        // put your options and callbacks here
          events: {
        url: "{% url 'booking_api' pk=equipment.first.pk %}",
        cache: true,
        background: 'yellow'
    }

    });

});

var options = {
    format: 'YYYY-MM-DD HH:mm:ss',
    defaultDate: moment('2017-06-01'),
    useCurrent:'day'
};

$('#datetimepicker1').datetimepicker(options);
$('#datetimepicker2').datetimepicker(options);
</script>
{% include 'menu.html' %}
{% endblock %}