{% extends 'base.html' %}
{% block content %}
<table class="table  table-striped" id="example">
<thead>
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Location</th>
    <th>Class</th>
    <th>Image</th>
    <th>Manual</th>
    <th></th>
</tr>
</thead>
<tbody>
{% for equipment in my_equipments %}
<tr>
    <td>{{ equipment.name }}</td>
    <td>{{ equipment.description }}</td>
    <td>{{ equipment.location }}</td>
    <td>{{ equipment.category }}</td>
    <td><img src="{{ equipment.equipimage.url }}" alt="" width="50"></td>
    <td><a href="{{ equipment.usermanual.url }}">Manual</a></td>
    <td>
        <!--{% if equipment.status == 1 %}-->
        <!--<a  class="btn btn-primary" href="{% url 'booking_calender' pk=equipment.pk %}">Make Reservation</a>-->
        <!--{% else %}-->
        <!--<button class="btn btn-primary">Reserved</button>-->
        <!--{% endif %}-->
        <a  class="btn btn-primary" href="{% url 'booking_calender' pk=equipment.pk %}">Make Reservation</a>
    </td>
 </tr>
{% endfor %}
</tbody>
</table>
<br>
<br>
{% include 'menu.html' %}
{% endblock %}