{% extends 'base.html' %}
{% block content %}
<table class="table  table-striped">
<thead>
<tr>
	<th>Reservation ID</th>
    <th>Equipment</th>
    <th>Taken By</th>
    <th>Purpose</th>
	<th>Temp. Location</th>
	<th>Date Taken</th>
	<th>Date Returned</th>
</tr>
</thead>
<tbody>
{% for reservation in my_reservations %}
<tr>
	<td>{{ reservation.id }}</td>
    <td>{{ reservation.equipment }}</td>
    <td>{{ reservation.taken_by }}</td>
    <td>{{ reservation.purpose }}</td>
	<td>{{ reservation.temp_location }}</td>
	<td>{{ reservation.start }}</td>
	<td>{{ reservation.end }}</td>
 </tr>
{% endfor %}
</tbody>
</table>
{% include 'menu.html' %}
{% endblock %}